obj/
nbproject/
LEGOStore
db*.temp/
lib/
CASClient
CASServer
Client
Controller
Server
Metadata_Server
logs/*
knossos
.idea
cmake-build/
*.swp
*.txt
CMakeFiles/
!CMakeLists.txt
!scripts/zones.txt
!scripts/servers.txt
!scripts/latencies.txt
!scripts/REGIONS.txt

